# Node
node_modules/
apps/**/dist/
apps/**/.vite/

# .NET
**/bin/
**/obj/
*.user
*.suo

# Docker / Devcontainers
.env
.vscode/
.devcontainer/*.log
**/.DS_Store

# Misc
*.log

# Ignore everything inside AppData
AppData/*

# …except .gitkeep so the folder remains in the repo
!AppData/.gitkeep